@model UbiChipher.WebDemo.ViewModels.RequestViewModel

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <p>Please scan this code with your idenity wallet to verify your name.</p>
        @{
            var base64 = Convert.ToBase64String(Model.QRImage);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }

        <img src="@imgSrc" width="300" height="300" />
    </div>



<script language="javascript">
    // TODO: Replace with Realtime framework (SignalR ?)
    setTimeout(function () {
        window.location.reload(1);
    }, 15000);
</script>